/POO2/E06/Exercicio06/nbproject/private/
/POO2/E06/Ex06_tes/nbproject/private/
/POO2/E06/JavaLibrary/nbproject/private/
/POO2/E06/JavaLibrary/dist/
/POO2/E06/JavaLibrary/build/
/POO2/E06/JavaConsole/nbproject/private/
/POO2/E06/JavaConsole/build/
